@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

.btn {
  width: 70px;
  height: 40px;
  background-color: saturation;
}

.input_number {
  margin-left: auto;
  outline: none;
  height: 34px;
  background-color: saturation;
}

.btn:hover,
.input_number:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
